<main class="detail__main">

	<section class="detail__main-cover flex">
		<div class="blackBoard">
			<div class="blackBoard-outLine">
				<div class="blackBoard-inner flex flex-column">
					${article_detail_replace}				
				</div>
			</div>
			
			<div class="blackBoard-bottom">
				<div class="blackBoard-img flex flex-jc-end">
					<span class="img-box eraser"> <img src="../img/eraser.png" alt=""></span>
	                <span class="img-box chalks"><img src="../img/chalks.png" alt=""></span>
				</div>
			</div>
			<div class="blackBoard-shadow"></div>
		</div>
	</section>
	
	<section class="article-list-box">
		<div class="article-list-box__cover flex flex-column flex-ai-c">
			<table border="1">
				<thead>
					<tr>
						<th></td>
						<th class="sample_width">제목</td>
						<th>작성자</td>
						<th>작성일</td>
					</tr>
				</thead>
				
				<tbody>
					${article_list_replace}	
				</tbody>
			</table>
			
		</div>
	</section>
	
	<!--  
	<script>
		var height = $('.sample_width').width();
		$('.article-list-box__cover').children('table').children('tbody').children('tr').css('height', height);
	</script>
	-->
	
</main>