<main class="detail__main">

	<section class="detail__main-cover flex">
		<div class="blackBoard">
			<div class="blackBoard-outLine">
				<div class="blackBoard-inner flex flex-column">
					${article_detail_replace}				
				</div>
			</div>
			
			<div class="blackBoard-bottom">
				<div class="blackBoard-img flex flex-jc-end">
					<span class="img-box eraser"> <img src="img/eraser.png" alt=""></span>
	                <span class="img-box chalks"><img src="img/chalks.png" alt=""></span>
				</div>
			</div>
			<div class="blackBoard-shadow"></div>
		</div>
	</section>
	
	<section class="article-list-box">
		<div class="article-list-box__cover flex flex-column flex-ai-c">
			<table border="1">
				<thead>
					<tr>
						<th></td>
						<th class="sample_width">제목</td>
						<th>작성자</td>
						<th>작성일</td>
					</tr>
				</thead>
				
				<tbody>
					${article_list_replace}	
				</tbody>
			</table>
			
		</div>
	</section>
	
	<div class="article-detail__comment">
		<div id="disqus_thread"></div>
		<script>
		    var disqus_config = function (){
		    	this.page.url = 'https://${site-domain}/${file-name}';
		    	this.page.identifier = '${file-name}';
		    };
		    (function() { // DON'T EDIT BELOW THIS LINE
		    var d = document, s = d.createElement('script');
		    s.src = 'https://newbaobabblog.disqus.com/embed.js';
		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
	
	<nav class="btn_up_box flex flex-ai-c flex-jc-c">
		<div>
			<i class="fas fa-chevron-up"></i>
		</div>
	</nav>
	
</main>
<script defer="defer">
//유튜브 플러그인 시작
function youtubePlugin() {
  toastui.Editor.codeBlockManager.setReplacer('youtube', youtubeId => {
    // Indentify multiple code blocks
    const wrapperId = `yt${Math.random().toString(36).substr(2, 10)}`;

    // Avoid sanitizing iframe tag
    setTimeout(renderYoutube.bind(null, wrapperId, youtubeId), 0);

    return `<div id="${wrapperId}"></div>`;
  });
}

function renderYoutube(wrapperId, youtubeId) {
  const el = document.querySelector(`#${wrapperId}`);

  el.innerHTML = `<div class="toast-ui-youtube-plugin-wrap"><iframe src="https://www.youtube.com/embed/${youtubeId}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>`;
}
// 유튜브 플러그인 끝

// codepen 플러그인 시작
function codepenPlugin() {
  toastui.Editor.codeBlockManager.setReplacer('codepen', url => {
    const wrapperId = `yt${Math.random().toString(36).substr(2, 10)}`;

    // Avoid sanitizing iframe tag
    setTimeout(renderCodepen.bind(null, wrapperId, url), 0);

    return `<div id="${wrapperId}"></div>`;
  });
}

function renderCodepen(wrapperId, url) {
  const el = document.querySelector(`#${wrapperId}`);
  
  var urlParams = new URLSearchParams(url.split('?')[1]);
  var height = urlParams.get('height');

  el.innerHTML = `<div class="toast-ui-codepen-plugin-wrap"><iframe height="${height}" scrolling="no" src="${url}" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true"></iframe></div>`;
}
// codepen 플러그인 끝

function ArticleDetail__Body__init() {
	let title = document.querySelector('.detail__article-content').innerHTML;
	if(title.includes('viewer')){
		let content = document.querySelector('.viewer-1').innerHTML;
		console.log(content);
		const viewer = new toastui.Editor.factory({
			el : document.querySelector('.detail__article-content'),
			initialValue : content,
			viewer : true,
			plugins: [youtubePlugin, codepenPlugin]
		});	
	}
	if(title.includes('editor')){
		let content = document.querySelector('.editor-1').innerHTML;
		const editor = new toastui.Editor({
			el: document.querySelector('.editor-1'),
		    previewStyle: 'vertical',
		    initialValue: content,
		    height:600,
		    plugins: [youtubePlugin, codepenPlugin]
		});
	}
}

ArticleDetail__Body__init();
</script>