<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<main>
	<div v-cloak id="article-list-wrap">
		<section class="article-list-topInner">
			<div class="search">
				<form onsubmit="return false">
					<input @input="searchKeywordInputed" class="searchInput" type="text" placeholder="검색어를 입력하세요" :value="searchKeyword">
					<button></button>
				</form>
			</div>
		</section>

		<section class="article-list-box">
			<div class="list-ad list-ad-left">
				<!-- 반응형 왼쪽 광고 -->
				<ins class="adsbygoogle" style="display: block"
					data-ad-client="ca-pub-6509950454554885" data-ad-slot="1169392388"
					data-ad-format="auto" data-full-width-responsive="true"></ins>
			</div>

			${article-list__main-content}

			<div class="list-ad list-ad-right">
				<!-- 반응형 오른쪽 -->
				<ins class="adsbygoogle" style="display: block"
					data-ad-client="ca-pub-6509950454554885" data-ad-slot="3412412347"
					data-ad-format="auto" data-full-width-responsive="true"></ins>
			</div>
		</section>

	</div>
</main>
<script>
		    var height = $('.list__banner').innerHeight();
		    if(window.innerWidth > 900){
	            $('main').css('padding-top',height-50);
	        } else if ( window.innerWidth < 900 && window.innerWidth > 330 ) {
	            $('main').css('padding-top',height-30);
	        } else if ( window.innerWidth < 330 && window.innerWidth > 300) {
		        $('main').css('padding-top',height-90);
		    } else if ( window.innerWidth < 300 && window.innerWidth > 250) {
		        $('main').css('padding-top',height-150);
		    }
		    $(window).resize(function(){
		        height = $('.list__banner').innerHeight();
		        if(window.innerWidth > 900){
		            $('main').css('padding-top',height-50);
		        } else if ( window.innerWidth < 900 && window.innerWidth > 330 ) {
		            $('main').css('padding-top',height-30);
		        } else if ( window.innerWidth < 330 && window.innerWidth > 300) {
			        $('main').css('padding-top',height-90);
			    } else if ( window.innerWidth < 300 && window.innerWidth > 250) {
			        $('main').css('padding-top',height-150);
			    }
		         
		    })
	</script>
	
	<script>
	const articleList = [];
	var currentUrl = window.location.href;
	var newUrl;
	var newUrl2;
	
	console.log("currentUrl= " + currentUrl);
	if( currentUrl.includes('baobab612')){
		newUrl = currentUrl.replace("https://blog.baobab612.com/","");
		newUrl2 = newUrl.split("_")[0] + "_" + newUrl.split("_")[1] + "_" + newUrl.split("_")[2] + ".json";
		
	} else {
		newUrl = currentUrl.replace("file:///C:/sts-4.11.0.RELEASE-workspace/baobabText/site/","");
		newUrl2 = newUrl.split("_")[0] + "_" + currentUrl.split("_")[1] + "_" + currentUrl.split("_")[2] + ".json";
		newUrl2 = "https://blog.baobab612.com/" + newUrl2;
	}
	
	console.log("newUrl= " + newUrl);
	console.log("newUrl2= " + newUrl2);
	
	$.get(
	  newUrl2,
	  {},
	  function (data) {
	    data.forEach((row, index) => {
	      const article = {
	        count: index+1,
	        num: row.num,
	        regDate: row.fRegDate,
	        writer: row.extra__writer,
	        title: row.title,
	        like: row.like,
	        hitsCount: row.hitsCount,
	        replyCount: row.replyCount
	      };
	      articleList.push(article);
	    });
	    isActive : true
	  },
	  'json'
	);

	const articleListBoxVue = new Vue({
	  el: "#article-list-wrap",
	  data: {
	    articleList: articleList,
	    searchKeyword: ''
	  },
	  methods: {
	    searchKeywordInputed: _.debounce(function (e) {
	      this.searchKeyword = e.target.value;
	    }, 500)
	  },
	  computed: {
	    filterKey: function () {
	      return this.searchKeyword.toLowerCase();
	    },
	    filtered: function () {
	      if (this.filterKey.length == 0) {
	        return this.articleList;
	      }

	      return this.articleList.filter((row) => {
	        const keys = ["title", "writer", "regDate"];

	        const match = keys.some((key) => {
	          if (row[key].toLowerCase().indexOf(this.filterKey) > -1) {
	            return true;
	          }
	        });
	        return match;
	      });
	    }
	  }
	});
	</script>
	
</div>