<main>
	<div>
		<section class="article-list-topInner">
		 <div class="search">
		   <form onsubmit="return false">
		      <input type="text" placeholder="검색어를 입력하세요">
		      <button></button>
		    </form>
		  </div>
		</section>
		
		<section class="article-list-box">
		  <div class="list-ad list-ad-left bd-red">
		  	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6509950454554885"
			     crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
			     style="display:block; text-align:center;"
			     data-ad-layout="in-article"
			     data-ad-format="fluid"
			     data-ad-client="ca-pub-6509950454554885"
			     data-ad-slot="5923605860"></ins>
			<script>
			     (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		  </div>
		  	
		  	${article-list__main-content}
		  	
		  <div class="list-ad list-ad-right bd-red">
		  	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6509950454554885"
		     crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
			     style="display:block; text-align:center;"
			     data-ad-layout="in-article"
			     data-ad-format="fluid"
			     data-ad-client="ca-pub-6509950454554885"
			     data-ad-slot="7705275603"></ins>
			<script>
			     (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		  </div>
		</section>
		
		<ul class="page_box flex flex-jc-c">
			${list__page}
		</ul>
	</main>
	<script>
		    var height = $('.list__banner').innerHeight();
		    if(window.innerWidth > 900){
	            $('main').css('padding-top',height-50);
	        } else if ( window.innerWidth < 900 && window.innerWidth > 330 ) {
	            $('main').css('padding-top',height-30);
	        } else if ( window.innerWidth < 330 && window.innerWidth > 300) {
		        $('main').css('padding-top',height-90);
		    } else if ( window.innerWidth < 300 && window.innerWidth > 250) {
		        $('main').css('padding-top',height-150);
		    }
		    $(window).resize(function(){
		        height = $('.list__banner').innerHeight();
		        if(window.innerWidth > 900){
		            $('main').css('padding-top',height-50);
		        } else if ( window.innerWidth < 900 && window.innerWidth > 330 ) {
		            $('main').css('padding-top',height-30);
		        } else if ( window.innerWidth < 330 && window.innerWidth > 300) {
			        $('main').css('padding-top',height-90);
			    } else if ( window.innerWidth < 300 && window.innerWidth > 250) {
			        $('main').css('padding-top',height-150);
			    }
		         
		    })
	</script>
</div>