<!DOCTYPE html>
<html lang="ko">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1390PY4PW5"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-1390PY4PW5');
	</script>
	<!-- 네이버 소유확인 -->
	<meta name="naver-site-verification" content="940897f74ece01b807cc2353b484a9d9ad2d892a" />
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 토스트 UI 에디터, 자바스크립트 코어 -->
	<script src="https://uicdn.toast.com/editor/2.5.2/toastui-editor-all.min.js" defer></script>
	<!-- 코드 미러 라이브러리 추가, 토스트 UI 에디터에서 사용됨 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css" />
	<!-- 토스트 UI 에디터, CSS 코어 -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/2.5.2/toastui-editor.min.css" />
	<!-- 토스트 UI 에디터, 신택스 하이라이트 플러그인 추가 -->
	<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/1.0.0/toastui-editor-plugin-code-syntax-highlight.min.js" defer></script>
	<!-- GSAP 플러그인 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    
    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- 구글 폰트 -->
    
    
    <link rel="icon" href="${site-main-url}/img/favicon.ico"/>
    <!-- 하이라이트 라이브러리 추가, 토스트 UI 에디터에서 사용됨 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/highlight.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/default.min.css">
	
    <!-- SEO 태그 -->
    <title>${title-bar__content}</title>
    <link rel="canonical" href="${site-main-url}" />
	<meta name="subject" content="${site-subject}"/>
	<meta name="title" content="${site-name}" />
	<meta name="description" content="${site-description}"/>
	<meta name="keywords" content="${site-keywords}" />
	<meta name="copyright" content="${site-name}" />
	<meta name="pubdate" content="${current-date}" />
	<meta name="lastmod" content="${current-date}" />
	<!-- OPENGRAPH -->
	<meta property="og:site_name" content="${site-name}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="${site-subject}" />
	<meta property="og:description" content="${site-description}" />
	<meta property="og:locale" content="ko_KR" />
	<meta property="og:image" content="${site-main-url}/img/seo_banner.jpg" />
	<meta property="og:updated_time" content="${current-date}"/>
	<meta property="og:pubdate" content="${current-date}" />
	<meta property="og:url" content="${site-main-url}" />
	<!-- TWITTER -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="${site-subject}" />
	<meta name="twitter:site" content="@${site-name}" />
	<meta name="twitter:creator" content="@${site-name}" />
	<meta name="twitter:image" content="${site-main-url}/img/seo_banner.jpg">
	<meta name="twitter:description" content="${site-description}" />
	<!-- GOOGLE+ -->
	<meta itemprop="headline" content="${site-name}" />
	<meta itemprop="name" content="${site-name}" />
	<meta itemprop="description" content="${site-description}" />
	<meta itemprop="image" content="${site-main-url}/img/seo_banner.jpg" />
    
    <link rel="stylesheet" href="main.css">
    <script src="app.js" defer></script>
</head>

<body>
    <div class="body-content con-min-width">
    	${main__banner-replace}
        <header class="top-bar con height-100p">
            <div class="flex flex-ai-c top-menu">
                <section class="top-bar__logo flex flex-jc-c flex-ai-c height-100p">
                	<a href="index.html" class="logo flex flex-ai-c">
                		<span class="img-box logo_img">
	                    	<img src="img/logo.png" alt="이미지 첨부" />
	                    </span>
	                    <span class="logo__span logo__W">W
	                    	<span class="logo__span logo__1 logo__hide">eb</span>
	                    </span>
	                    
	                    <span class="logo__span logo__P">P
	                    	<span class="logo__span logo__2 logo__hide">rogram</span>
	                    </span>
	                    
	                    <span class="logo__span logo__B">B
	                    	<span class="logo__span logo__3 logo__hide">log</span>
	                    </span>
	                    
                    </a>
                </section>
                
                <div class="flex-grow-1"></div>
                <!-- 탑바 PC 버전 -->
                <div class="top-menu__menu top-menu__pc-menu flex height-100p">
                    <ul class="flex height-100p">
                    	${menu-bar__menu-1__board-menu-content-pc}
                    </ul>
                </div>
                
                <div class="hamburger__cover flex">
                    <section class="top-bar__hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
				</section>
                </div>  
            </div>
            <!-- 탑바 모바일 버전 -->
            <div class="top-menu__menu top-menu__mobile-menu">
                <ul class="flex flex-column">
                	${menu-bar__menu-1__board-menu-content-mobile}
                </ul>
            </div>
        </header>