<main>
	
	<section class="article_list_1 article_list flex flex-column flex-ai-c">
		<h1 class="article_list__h1">Web Programs</h1>
		<div class="article_list_box flex flex-jc-ar">
			<section class="arrow left_arrow flex flex-ai-c"><i class="fas fa-caret-left"></i></section>
			${article_list_webPrograms}
			<section class="arrow right_arrow flex flex-ai-c"><i class="fas fa-caret-right"></i></section>
		</div>
	</section>
	
	<div>
		${article_list_dateBase}
	</div>
	
	<div>
		${article_list_server}
	</div>
	
	<div>
		${article_list_Free}	
	</div>
	
</main>