<main>
	
	<section class="article_list_1 article_list flex flex-column flex-ai-c">
		<h1 class="article_list__h1">Web Programs</h1>
		<div class="article_list_box flex flex-jc-ar">
			<section class="arrow left_arrow flex flex-ai-c"><i class="fas fa-caret-left"></i></section>
				<div class="height-100p flex flex-jc-ar">
					${article_list_webPrograms}
				</div>
			<section class="arrow right_arrow flex flex-ai-c"><i class="fas fa-caret-right"></i></section>
		</div>
		
		<div class="list1_pagination">
			<span class="ball ball1">1</span>
			<span class="ball ball2">2</span>
			<span class="ball ball3">3</span>
			<span class="ball ball4">4</span>
		</div>
		
	</section>
	
	<script>
			var width = $('.list_slide').width() + $('.arrow').width();
			var repeat = 0;
			$('.left_arrow').click(function(){
				if(repeat < 0){
					repeat=  repeat + 1;
				}
				gsap.to('.list_slide',{
					x: width*(repeat),
					duration: 0.5
				});
			});
			
			$('.right_arrow').click(function(){
				if(repeat >= -2){
					repeat = repeat - 1;
				}
				gsap.to('.list_slide',{
					x: width*(repeat),
					duration: 0.5
				});
			});
			ball = $('.ball')
			$('.ball').click(function(){
				var index = ball.index(this);
				var indexP = index+1;
				repeat = index*-1;
				ball.removeClass('ball-selected');
				$('.ball' + indexP).addClass('ball-selected');
				
				gsap.to('.list_slide',{
					x: width*(repeat),
					duration: 0.7
				});
			});
	</script>
	<div>
		${article_list_dateBase}
	</div>
	
	<div>
		${article_list_server}
	</div>
	
	<div>
		${article_list_Free}	
	</div>
	
</main>